streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-huggingface
langgraph
faiss-cpu
sentence-transformers
pypdf
python-docx
requests
